<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <fa name="home"></fa> 2020.io
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{'nav-item': true, active: isActive('home')}"><a ui-sref="home">Home</a></li>
        <li ng-class="{'nav-item': true, active: isActive(['site-list', 'site-detail'])}"><a ui-sref="site-list">Sites</a></li>
        <li ng-class="{'nav-item': true, active: isActive('about')}"><a ui-sref="about">About</a></li>
        <li ng-class="{'nav-item': true, active: isActive('contact')}"><a ui-sref="contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
